<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newt.boot.dal.mapper.TBMchntHandlerInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.newt.boot.dal.entity.TBMchntHandlerInfo">
        <id column="id" property="id" />
        <result column="inst_id" property="instId" />
        <result column="mchnt_no" property="mchntNo" />
        <result column="handler_name" property="handlerName" />
        <result column="handler_cert_type" property="handlerCertType" />
        <result column="handler_cert_no" property="handlerCertNo" />
        <result column="cert_effective_date" property="certEffectiveDate" />
        <result column="cert_expiry_date" property="certExpiryDate" />
        <result column="handler_mobile" property="handlerMobile" />
        <result column="handler_email" property="handlerEmail" />
        <result column="record_status" property="recordStatus" />
        <result column="opr_id" property="oprId" />
        <result column="create_time" property="createTime" />
        <result column="last_opr_id" property="lastOprId" />
        <result column="last_update_time" property="lastUpdateTime" />
        <result column="remark1" property="remark1" />
        <result column="remark2" property="remark2" />
        <result column="remark3" property="remark3" />
        <result column="remark4" property="remark4" />
        <result column="remark5" property="remark5" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, inst_id, mchnt_no, handler_name, handler_cert_type, handler_cert_no, cert_effective_date, cert_expiry_date, handler_mobile, handler_email, record_status, opr_id, create_time, last_opr_id, last_update_time, remark1, remark2, remark3, remark4, remark5
    </sql>

</mapper>
